/* button.css */
.button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  font-size: 17px;
  font-weight: bold;
  border: none;
  margin-top: 14px;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  background: linear-gradient(45deg, #ff5f6d, #ffc371);
}

.button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
