{
  "trailingComma": 'all',
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "plugins": ["prettier-plugin-ejs"],
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "crlf"
}
