services:
  build:
    build:
      context: .
      dockerfile: Dockerfile
      target: build
  skyhelper:
    depends_on:
      - build
    build:
      context: .
      dockerfile: ./Dockerfile
      target: skyhelper
      args:
        SENTRY_AUTH_TOKEN: ${SENTRY_AUTH_TOKEN}
    container_name: skyhelper
    restart: unless-stopped
    volumes:
      - /root/mybot-data:/app/data
    environment:
      - NODE_ENV
      - TOKEN
      - CLIENT_ID
      - MONGO_CONNECTION
      - PUBLIC_KEY
      - TOPGG_TOKEN
      - DBL_TOKEN
      - GUILD
      - SUGGESTION
      - READY_LOGS
      - ERROR_LOGS
      - COMMANDS_USED
      - CONTACT_US
      - BUG_REPORTS
      - SENTRY_DSN
      - SENTRY_AUTH_TOKEN
      - SENTRY_RELEASE
      - NODE_OPTIONS
    ports:
      - 5000:5000
  jobs:
    depends_on:
      - build
    build:
      context: .
      dockerfile: ./Dockerfile
      target: jobs
    container_name: skyhelper-jobs
    restart: unless-stopped
    environment:
      - TOKEN
      - MONGO_CONNECTION
      - NODE_ENV
      - ERROR_WEBHOOK
