@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-openapi/css/preset.css";

@layer base {
  * {
    font-family: var(--font-roboto);
    text-rendering: optimizeLegibility;

    scrollbar-width: thin;
  }
}

:root {
  --openapi-color: hsl(9, 75%, 26%);
  --docs-color: hsl(124, 74%, 30%);
}

body {
  overscroll-behavior-y: none;
  background-color: var(--color-fd-background);
}

.dark {
  --openapi-color: hsl(4, 98%, 68%);
  --docs-color: hsl(123, 73%, 68%);
}
.openapi {
  --color-fd-primary: var(--openapi-color);
}

.docs {
  --color-fd-primary: var(--docs-color);
}
