@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-openapi/css/preset.css";

@layer base {
  * {
    font-family: var(--font-roboto);
    text-rendering: optimizeLegibility;

    scrollbar-width: thin;
  }
}

:root {
  --openapi-color: hsl(250, 80%, 54%);
  --docs-color: hsl(220, 91%, 54%);
}

body {
  overscroll-behavior-y: none;
  background-color: var(--color-fd-background);
}

.dark {
  --openapi-color: hsl(250 100% 80%);
  --docs-color: hsl(217 92% 76%);
}
.openapi {
  --color-fd-primary: var(--openapi-color);
}

.docs {
  --color-fd-primary: var(--docs-color);
}
