<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FAVICON ===============-->
    <link
      rel="shortcut icon"
      href="assets/img/boticon.png"
      type="image/x-icon"
    />

    <!--=============== BOXICONS ===============-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/styles.css" />

    <title>505 Server Error - SkyHelper</title>
  </head>
  <body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">
          <img
            src="assets/img/boticon.png"
            style="top: 50px; left: 50px; widht: 40px; height: 40px"
          />
          <p class="nav__logo-text">SkyHelper</p>
        </a>
        <a href="/" class="nav__link check">
          <i class="bx bx-home-alt-2"></i>
          <span>Home</span>
        </a>

        <!-- Theme change button -->
        <i class="bx bx-moon change-theme" id="theme-button"></i>
        <a href="/commands.html" class="nav__link">
          <i class="bx bx-code-alt com-icon"></i>
          <p class="nav__com">Commands</p>
        </a>
        <a
          href="https://discord.com/invite/u9zUjWbbQ4"
          class="button nav__button"
        >
          Invite Me
        </a>
      </nav>
    </header>

    <!-- Content -->
    <main class="main">
      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__data">
            <h1 class="home__title">Error: 500</h1>
          </div>
        </div>
      </section>

      <section class="subscribe section">
        <div class="subscribe__container container">
          <h1 class="subscribe__title">Oops! Something went wrong.</h1>
          <p class="subscribe__description">
            It's not you, it's us. We will try to rectify this as soon as
            possible.
          </p>
          <a href="/" class="button subscribe__button">Go Home</a>
        </div>
      </section>
    </main>
    <!--==================== FOOTER ====================-->

    <footer class="footer section">
      <div class="footer__container container grid">
        <div>
          <a href="#" class="footer__logo">
            <img
              src="assets/img/boticon.png"
              style="top: 50px; left: 50px; widht: 20px; height: 20px"
            />
            SkyHelper
          </a>
          <p class="footer__description">
            A discord bot for the game Sky: Children of the Light
          </p>
        </div>
        <div class="footer__content">
          <div>
            <h3 class="footer__title">About</h3>
            <ul class="footer__links">
              <li>
                <a href="/" class="footer__link">About Me</a>
              </li>

              <li>
                <a href="/#popular" class="footer__link">Features</a>
              </li>
              <li>
                <a href="https://docs.skyhelper.xyz" class="footer__link"
                  >Documentation</a
                >
              </li>
            </ul>
          </div>
          <div>
            <h3 class="footer__title">Support</h3>
            <ul class="footer__links">
              <li>
                <a href="/#value" class="footer__link">FAQs</a>
              </li>
              <li>
                <a
                  href="https://discord.com/invite/u9zUjWbbQ4"
                  class="footer__link"
                  >Support Server</a
                >
              </li>
              <li>
                <a href="/contact-us.html" class="footer__link">Contact Us</a>
              </li>
            </ul>
          </div>
          <div>
            <h3 class="footer__title">Socials</h3>
            <ul class="footer__social">
              <a
                href="https://github.com/imnaiyar/SkyHelper"
                target="_blank"
                class="footer__social-link"
              >
                <i class="bx bxl-github"></i>
              </a>
              <a
                href="https://discord.com/invite/u9zUjWbbQ4"
                target="_blank"
                class="footer__social-link"
              >
                <i class="bx bxl-discord"></i>
              </a>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__info container">
        <span class="footer__copy">
          &#169; SkyHelper. All rights reserved
        </span>

        <div class="footer__privacy">
          <a href="/tos.html">Terms of Service</a>
          <a href="/privacy.html">Privacy Policy</a>
        </div>
      </div>
    </footer>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-chevrons-up"></i>
    </a>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="assets/js/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="assets/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
