<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FAVICON ===============-->
    <link
      rel="shortcut icon"
      href="/assets/img/boticon.png"
      type="image/x-icon"
    />

    <!--=============== BOXICONS ===============-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/assets/css/styles.css" />

    <title>505 Server Error - SkyHelper</title>
  </head>
  <body>
    <!--==================== HEADER ====================-->
    <%- include('includes/header') -%>

    <!-- Content -->
    <main class="main">
      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__data">
            <h1 class="home__title">Error: 500</h1>
          </div>
        </div>
      </section>

      <section class="subscribe section">
        <div class="subscribe__container container">
          <h1 class="subscribe__title">Oops! Something went wrong.</h1>
          <p class="subscribe__description">
            It's not you, it's us. We will try to rectify this as soon as
            possible.
          </p>
          <a href="/" class="button subscribe__button">Go Home</a>
        </div>
      </section>
    </main>
    <!--==================== FOOTER ====================-->

    <%- include('includes/footer') -%>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-chevrons-up"></i>
    </a>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="/assets/js/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="/assets/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
