<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="assets/img/boticon.png" type="image/x-icon" />

    <!--=============== BOXICONS ===============-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css" />
    <script src="sweetalert2/dist/sweetalert2.min.js"></script>

    <title>Contact Us - SkyHelper</title>
  </head>
  <body>
    <!--==================== HEADER ====================-->
    <%- include('includes/header') -%>

    <!-- Content -->
    <main class="main">
      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__data">
            <h1 class="home__title">Contact Us</h1>
            <p class="home__description">
              Only "Message" field is required, the rest are optional. However we suggest you provide us atleast 1
              social information so we can reach out to you if need be.
            </p>
          </div>
        </div>
      </section>

      <form class="form" id="contactForm">
        <h2 class="contact-header">CONTACT US</h2>
        <p type="Name:">
          <input type="text" name="name" id="name" placeholder="Your name.." />
        </p>
        <p type="Email:">
          <input type="email" name="email" id="email" placeholder="Your email.." />
        </p>
        <p type="Discord Username:">
          <input type="text" name="discordUsername" id="discordUsername" placeholder="Your discord username.." />
        </p>
        <p type="Reason">
          <span style="color: red"> *</span>
          <select name="reason" id="reason" required>
            <option value="" disabled selected>Select an option</option>
            <option value="Suggestion">Suggestion</option>
            <option value="Bug Report">Bug Report</option>
            <option value="Other">Others</option>
          </select>
        </p>
        <p type="Message:">
          <span style="color: red"> *</span
          ><textarea
            type="textarea"
            name="message"
            id="message"
            placeholder="What would you like to tell us.."
            required
          ></textarea>
        </p>
        <button type="submit">Send Message</button>
      </form>
    </main>
    <!--==================== FOOTER ====================-->

    <%- include('includes/footer') -%>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-chevrons-up"></i>
    </a>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      var authToken = "<%= authToken %>";
    </script>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="assets/js/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="assets/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
