<<<<<<< HEAD
<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="assets/img/boticon.png" type="image/x-icon" />

    <!--=============== BOXICONS ===============-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/styles.css" />

    <title>Privacy Policy - SkyHelper</title>
  </head>
  <body>
    <!--==================== HEADER ====================-->
    <%- include('includes/header') -%>

    <!-- Content -->
    <main class="main">
      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__data">
            <h1 class="home__title">Privacy Policy</h1>
          </div>
        </div>
      </section>

      <section class="value section">
        <div class="value__container container">
          <div class="toc">
            <div class="value__accordion-item">
              <header class="value__accordion-header">
                <h3 class=".toc-heading">Table of Content</h3>
                <div class="value__accordion-arrow">
                  <i class="bx bxs-down-arrow"></i>
                </div>
              </header>

              <div class="value__accordion-content">
                <div class="heading-container">
                  <ul>
                    <li>
                      <a class="toc-head" href="#data-collection">Data Collection</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#data-usage">Data Usage </a>
                    </li>
                    <li>
                      <a class="toc-head" href="#data-security">Data Security</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#blacklisting">Blacklisting</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#data-retention">Data Retention</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#privacy-change">Changes to Privacy Policy</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#compliance">Compliance with Laws</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#contact">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section" id="data-collection">
        <div class="toc-content value__container container">
          <span class="section__subtitle">Privacy Policy</span>
          <h3 class="footer__description">Effective Date: 02/02/2024</h3>
          <h2 class="section__title">Data Collection:</h2>
          <p class="footer__description">
            ● SkyHelper may collect and store the following data: - User IDs - Server IDs
            <br />
            ● The collected data is used solely for the purpose of enforcing SkyHelper's Terms of Service, specifically
            for the identification and blacklisting of users or servers violating the
            <a href="/tos">ToS</a> and storing results/points for the quiz/guessing game.
          </p>
        </div>
      </section>
      <section class="section" id="data-usage">
        <div class="toc-content value__container container">
          <h2 class="section__title">Data Usage:</h2>
          <p class="footer__description">
            ● User and server IDs collected by SkyHelper are used exclusively for internal purposes.
            <br />
            ● SkyHelper does not sell, share, or transfer any collected data to third parties, except as required by
            law.
          </p>
        </div>
      </section>
      <section class="section" id="data-security">
        <div class="toc-content value__container container">
          <h2 class="section__title">Data Security:</h2>
          <p class="footer__description">
            ● SkyHelper employs industry-standard security measures to protect the collected data from unauthorized
            access, disclosure, alteration, or destruction.
            <br />
            ● Users have the right to request the removal of their data from SkyHelper's storage (after successful
            appeal of their ban).
          </p>
        </div>
      </section>
      <section class="section" id="blacklisting">
        <div class="toc-content value__container container">
          <h2 class="section__title">Blacklisting:</h2>
          <p class="footer__description">
            ● User and server IDs may be used to enforce SkyHelper's
            <a href="/tos">Terms of Service</a>, including the blacklisting of users or servers found in violation.
            <br />
            ● Blacklisted users or servers will be denied access to SkyHelper's services.
          </p>
        </div>
      </section>
      <section class="section" id="data-retention">
        <div class="toc-content value__container container">
          <h2 class="section__title">Data Retention:</h2>
          <p class="footer__description">
            ● User and server IDs will be retained for as long as necessary to fulfill the purposes outlined in this
            Privacy Policy.
            <br />
            ● Users can <a href="#contact">contact us</a> to request the removal of their data (after successful appeal
            of their ban).
          </p>
        </div>
      </section>
      <section class="section" id="privacy-change">
        <div class="toc-content value__container container">
          <h2 class="section__title">Changes to Privacy Policy:</h2>
          <p class="footer__description">
            ● This Privacy Policy may be updated without prior notice. Users will be notified of significant changes.
            <br />
            ● Continued use of SkyHelper after changes implies acceptance of the updated Privacy Policy.
          </p>
        </div>
      </section>
      <section class="section" id="compliance">
        <div class="toc-content value__container container">
          <h2 class="section__title">Compliance with Laws:</h2>
          <p class="footer__description">SkyHelper complies with applicable data protection laws and regulations.</p>
        </div>
      </section>
      <section class="section" id="contact">
        <div class="toc-content value__container container">
          <h2 class="section__title" id="contact">Contact:</h2>
          <p class="footer__description">
            For inquiries or concerns regarding SkyHelper, please contact us from <a href="/contact-us">here</a> or join
            our
            <a href="https://discord.com/invite/u9zUjWbbQ4">Support Server</a>
          </p>
          <br />
          <br />
          <p class="footer__description">
            By using SkyHelper, you acknowledge and agree to the terms outlined in this Privacy Policy. Please review
            this policy regularly, as it may be subject to updates.
          </p>
        </div>
      </section>
    </main>
    <!--==================== FOOTER ====================-->

    <%- include('includes/footer') -%>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-chevrons-up"></i>
    </a>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="assets/js/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="assets/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
=======
<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="assets/img/boticon.png" type="image/x-icon" />

    <!--=============== BOXICONS ===============-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/styles.css" />

    <title>Privacy Police - SkyHelper</title>
  </head>
  <body>
    <!--==================== HEADER ====================-->
    <%- include('includes/header') -%>

    <!-- Content -->
    <main class="main">
      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__data">
            <h1 class="home__title">Privacy Policy</h1>
          </div>
        </div>
      </section>

      <section class="value section">
        <div class="value__container container">
          <div class="toc">
            <div class="value__accordion-item">
              <header class="value__accordion-header">
                <h3 class=".toc-heading">Table of Content</h3>
                <div class="value__accordion-arrow">
                  <i class="bx bxs-down-arrow"></i>
                </div>
              </header>

              <div class="value__accordion-content">
                <div class="heading-container">
                  <ul>
                    <li>
                      <a class="toc-head" href="#data-collection">Data Collection</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#data-usage">Data Usage </a>
                    </li>
                    <li>
                      <a class="toc-head" href="#data-security">Data Security</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#blacklisting">Blacklisting</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#data-retention">Data Retention</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#privacy-change">Changes to Privacy Policy</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#compliance">Compliance with Laws</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#contact">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section" id="data-collection">
        <div class="toc-content value__container container">
          <span class="section__subtitle">Privacy Policy</span>
          <h3 class="footer__description">Effective Date: 02/02/2024</h3>
          <h2 class="section__title">Data Collection:</h2>
          <p class="footer__description">
            ● SkyHelper may collect and store the following data: - User IDs - Server IDs
            <br />
            ● The collected data is used solely for the purpose of enforcing SkyHelper's Terms of Service, specifically
            for the identification and blacklisting of users or servers violating the
            <a href="/tos">ToS</a> and storing results/points for the quiz/guessing game.
          </p>
        </div>
      </section>
      <section class="section" id="data-usage">
        <div class="toc-content value__container container">
          <h2 class="section__title">Data Usage:</h2>
          <p class="footer__description">
            ● User and server IDs collected by SkyHelper are used exclusively for internal purposes.
            <br />
            ● SkyHelper does not sell, share, or transfer any collected data to third parties, except as required by
            law.
          </p>
        </div>
      </section>
      <section class="section" id="data-security">
        <div class="toc-content value__container container">
          <h2 class="section__title">Data Security:</h2>
          <p class="footer__description">
            ● SkyHelper employs industry-standard security measures to protect the collected data from unauthorized
            access, disclosure, alteration, or destruction.
            <br />
            ● Users have the right to request the removal of their data from SkyHelper's storage (after successful
            appeal of their ban).
          </p>
        </div>
      </section>
      <section class="section" id="blacklisting">
        <div class="toc-content value__container container">
          <h2 class="section__title">Blacklisting:</h2>
          <p class="footer__description">
            ● User and server IDs may be used to enforce SkyHelper's
            <a href="/tos">Terms of Service</a>, including the blacklisting of users or servers found in violation.
            <br />
            ● Blacklisted users or servers will be denied access to SkyHelper's services.
          </p>
        </div>
      </section>
      <section class="section" id="data-retention">
        <div class="toc-content value__container container">
          <h2 class="section__title">Data Retention:</h2>
          <p class="footer__description">
            ● User and server IDs will be retained for as long as necessary to fulfill the purposes outlined in this
            Privacy Policy.
            <br />
            ● Users can <a href="#contact">contact us</a> to request the removal of their data (after successful appeal
            of their ban).
          </p>
        </div>
      </section>
      <section class="section" id="privacy-change">
        <div class="toc-content value__container container">
          <h2 class="section__title">Changes to Privacy Policy:</h2>
          <p class="footer__description">
            ● This Privacy Policy may be updated without prior notice. Users will be notified of significant changes.
            <br />
            ● Continued use of SkyHelper after changes implies acceptance of the updated Privacy Policy.
          </p>
        </div>
      </section>
      <section class="section" id="compliance">
        <div class="toc-content value__container container">
          <h2 class="section__title">Compliance with Laws:</h2>
          <p class="footer__description">SkyHelper complies with applicable data protection laws and regulations.</p>
        </div>
      </section>
      <section class="section" id="contact">
        <div class="toc-content value__container container">
          <h2 class="section__title" id="contact">Contact:</h2>
          <p class="footer__description">
            For inquiries or concerns regarding SkyHelper, please contact us from <a href="/contact-us">here</a> or join
            our
            <a href="https://discord.com/invite/u9zUjWbbQ4">Support Server</a>
          </p>
          <br />
          <br />
          <p class="footer__description">
            By using SkyHelper, you acknowledge and agree to the terms outlined in this Privacy Policy. Please review
            this policy regularly, as it may be subject to updates.
          </p>
        </div>
      </section>
    </main>
    <!--==================== FOOTER ====================-->

    <%- include('includes/footer') -%>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-chevrons-up"></i>
    </a>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="assets/js/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="assets/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
>>>>>>> quiz-branch
