<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="assets/img/boticon.png" type="image/x-icon" />

    <!--=============== BOXICONS ===============-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/styles.css" />

    <title>Terms of Service - SkyHelper</title>
  </head>
  <body>
    <!--==================== HEADER ====================-->
    <%- include('includes/header') -%>

    <!-- Content -->
    <main class="main">
      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__data">
            <h1 class="home__title">Terms of Service</h1>
          </div>
        </div>
      </section>

      <section class="value section">
        <div class="value__container container">
          <div class="toc">
            <div class="value__accordion-item">
              <header class="value__accordion-header">
                <h3 class=".toc-heading">Table of Content</h3>
                <div class="value__accordion-arrow">
                  <i class="bx bxs-down-arrow"></i>
                </div>
              </header>

              <div class="value__accordion-content">
                <div class="heading-container">
                  <ul>
                    <li>
                      <a class="toc-head" href="#acceptance">Acceptance of Terms</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#bot-usage">Bot Usage and Restrictions</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#data-privacy">Data Handling and Privacy</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#intellectual-property">Intellectual Property</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#security-abuse">Security and Abuse</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#support-maintenance">Support and Maintenance</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#terms-change">Changes to Terms</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#termination">Termination</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#disclaimer-warranty">Disclaimer of Warranty</a>
                    </li>
                    <li>
                      <a class="toc-head" href="#contact">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section" id="acceptance">
        <div class="toc-content value__container container">
          <span class="section__subtitle">Terms of Service</span>
          <h2 class="section__title">Acceptance of Terms</h2>
          <p class="footer__description">
            By utilizing the services provided by SkyHelper, you agree to abide by the terms and conditions outlined in
            this document. Users must adhere to Discord's Terms of Service in addition to SkyHelper's ToS. The bot owner
            reserves the right to take action against users violating
            <a href="https://discord.com/terms">Discord's ToS</a>, including but not limited to the suspension or
            termination of SkyHelper services.
          </p>
        </div>
      </section>
      <section class="section" id="bot-usage">
        <div class="toc-content value__container container">
          <h2 class="section__title">Bot Usage and Restrictions</h2>
          <p class="footer__description">
            ● SkyHelper is provided as-is for personal, non-commercial use. Any use for commercial purposes requires
            explicit permission from the bot owner.
            <br />
            ● Users must not engage in activities that may harm the reputation, stability, or security of SkyHelper.
          </p>
        </div>
      </section>
      <section class="section" id="data-privacy">
        <div class="toc-content value__container container">
          <h2 class="section__title">Data Handling and Privacy:</h2>
          <p class="footer__description">
            ● SkyHelper may collect and store data necessary for functionality. User data will be handled in accordance
            with applicable privacy laws and will not be shared with third parties without explicit consent.
            <br />
            ● Users have the right to request the removal of their data from SkyHelper's storage.
          </p>
        </div>
      </section>
      <section class="section" id="intellectual-property">
        <div class="toc-content value__container container">
          <h2 class="section__title">Intellectual Property:</h2>
          <p class="footer__description">
            ● SkyHelper's logo, and associated assets are the intellectual property of the bot owner. Unauthorized use
            or reproduction is strictly prohibited.
            <br />
            ● Users may not claim ownership or authorship of SkyHelper or its features.
          </p>
        </div>
      </section>
      <section class="section" id="security-abuse">
        <div class="toc-content value__container container">
          <h2 class="section__title">Security and Abuse:</h2>
          <p class="footer__description">
            ● Users are responsible for maintaining the security of their Discord server. SkyHelper is not liable for
            any damages resulting from security breaches.
            <br />
            ● Any attempt to disrupt or abuse SkyHelper, including but not limited to hacking or denial-of-service
            attacks, will result in the termination of services.
          </p>
        </div>
      </section>
      <section class="section" id="support-maintenance">
        <div class="toc-content value__container container">
          <h2 class="section__title">Support and Maintenance:</h2>
          <p class="footer__description">
            ● The bot owner will make reasonable efforts to provide support and maintain SkyHelper.
            <br />
            ● SkyHelper may undergo updates or maintenance without prior notice, and users are encouraged to check for
            announcements.
          </p>
        </div>
      </section>
      <section class="section" id="terms-change">
        <div class="toc-content value__container container">
          <h2 class="section__title">Changes to Terms:</h2>
          <p class="footer__description">
            ● The terms of service may be modified at the discretion of the bot owner. Users will be notified of
            significant changes.
            <br />
            ● Continued use of SkyHelper after changes implies acceptance of the updated terms.
          </p>
        </div>
      </section>
      <section class="section" id="termination">
        <div class="toc-content value__container container">
          <h2 class="section__title">Termination:</h2>
          <p class="footer__description">
            The bot owner reserves the right to terminate services for users violating these terms or engaging in
            activities deemed harmful.
          </p>
        </div>
      </section>
      <section class="section" id="disclaimer-warranty">
        <div class="toc-content value__container container">
          <h2 class="section__title">Disclaimer of Warranty:</h2>
          <p class="footer__description">
            SkyHelper is provided without any warranty. The bot owner is not liable for any direct or indirect damages
            resulting from the use or inability to use SkyHelper.
          </p>
        </div>
      </section>
      <section class="section" id="contact">
        <div class="toc-content value__container container">
          <h2 class="section__title">Contact:</h2>
          <p class="footer__description">
            For inquiries or concerns regarding SkyHelper's Privacy Policy, please contact us from
            <a href="/contact-us">here</a> or join our
            <a href="https://discord.com/invite/u9zUjWbbQ4">Support Server</a>
          </p>
          <br />
          <br />
          <p class="footer__description">
            By using SkyHelper, you acknowledge and agree to these terms. The bot owner retains the right to take
            appropriate action against users violating these terms or
            <a href="https://discord.com/terms">Discord's ToS</a>.
          </p>
        </div>
      </section>
    </main>
    <!--==================== FOOTER ====================-->

    <%- include('includes/footer') -%>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-chevrons-up"></i>
    </a>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="assets/js/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="assets/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
