<% if (filename === '/' || filename === '/index') { %>
<!-- Header for 'index' route -->
<div class="progress-container progress-bar" id="myBar"></div>
<header class="header" id="header">
  <nav class="nav container">
    <a href="#" class="nav__logo">
      <img
        src="/assets/img/boticon.png"
        style="top: 50px; left: 50px; height: 40px"
      /> <img class="nav__logo-text skyhelper"
        src="/assets/img/skyhelper.png"
      />
    </a>

    <div class="nav__menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link active-link">
            <i class="bx bx-home-alt-2"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#popular" class="nav__link">
            <i class="bx bx-award"></i>
            <span>Features</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#value" class="nav__link">
            <i class="bx bx-help-circle"></i>
            <span>FAQs</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">
            <i class="bx bx-line-chart"></i>
            <span>TopGG</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Theme change button -->
    <i class="bx bx-moon change-theme" id="theme-button"></i>
    <a href="/commands" class="nav__link">
      <i class="bx bx-code-alt com-icon"></i>
      <p class="nav__com">Commands</p>
    </a>
    <a href="https://discord.com/invite/u9zUjWbbQ4" class="button nav__button">
      Invite Me
    </a>
  </nav>
</header>
<% } else { %>
<!-- Header for other routes -->
<div class="progress-container progress-bar" id="myBar"></div>
<header class="header" id="header">
  <nav class="nav container">
    <a href="/" class="nav__logo">
      <img
        src="/assets/img/boticon.png"
        style="top: 50px; left: 50px;  height: 40px"
      />
      <img class="nav__logo-text skyhelper"
        src="/assets/img/skyhelper.png"
      />
    </a>

    <!-- Theme change button -->
    <i class="bx bx-moon change-theme" id="theme-button"></i>
    <% if (filename !== '/commands') {
          %>
    <a href="/commands" class="nav__link">
      <i class="bx bx-code-alt com-icon"></i>
      <p class="nav__com">Commands</p>
    </a>
    <% } %>
    <a href="https://discord.com/invite/u9zUjWbbQ4" class="button nav__button">
      Invite Me
    </a>
  </nav>
</header>
<% } %>
