name: Build

on:
  push:
    branches:
      - main
    paths:
      - "packages/**"
  pull_request:

jobs:
  tests:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build the project
        # TODO: Please revert this so we do not have to ignore apps packages
        run: pnpm exec turbo run build --filter=!./apps/** --filter="...[origin/${{ github.event_name == 'pull_request' && github.event.pull_request.base.ref || 'main' }}]"
